<a href="https://colab.research.google.com/github/qixuan-code/2021_TAMU/blob/main/2021TAMU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
import warnings
from collections import Counter
warnings.filterwarnings('ignore')
from sklearn import metrics

In [126]:
url = 'https://raw.githubusercontent.com/qixuan-code/2021_TAMU/main/stock_priceavg_data.csv'
volume_history = pd.read_csv(url,na_values='na')

In [127]:
url2 = 'https://raw.githubusercontent.com/qixuan-code/2021_TAMU/main/COMPANY_PROFILE.csv'
company_profile = pd.read_csv(url2,na_values='na')

In [128]:
url3 = 'https://raw.githubusercontent.com/qixuan-code/2021_TAMU/main/big_ETF_symbols.csv'
big_index =  pd.read_csv(url3,na_values='na')

In [130]:
volume_history.head(1)

  SYMBOL  AVG(VOLUME)  AVG(OPEN)  AVG(CLOSE)  YEAR(DATE)
0    OVS  4087.331897  23.750209   23.742574        2020

In [131]:
merged_table = pd.merge(volume_history,company_profile , on='SYMBOL')

In [132]:
merged_table.head(1)

  SYMBOL  AVG(VOLUME)  AVG(OPEN)  AVG(CLOSE)  ...   CEO  SECTOR  DCFDIFF  DCF
0    OVS  4087.331897  23.750209   23.742574  ...  None     NaN      NaN  NaN

[1 rows x 22 columns]

In [133]:
merged_table['SECTOR'].unique()

array([nan, 'Industrials', 'Consumer Cyclical', 'Basic Materials',
       'Communication Services', 'Healthcare', 'Financial Services',
       'Real Estate', 'Technology', 'Industrial Goods',
       'Consumer Defensive', 'Energy', 'Financial', 'Utilities',
       'Conglomerates', 'Services', 'Building', 'Pharmaceuticals',
       'Media'], dtype=object)

In [134]:
merged_table['SECTOR'].isnull().sum()

26001

In [135]:
merged_table1 = merged_table[merged_table['SECTOR'].notna()]

In [136]:
merged_table1.head(1)

  SYMBOL   AVG(VOLUME)   AVG(OPEN)  ...       SECTOR  DCFDIFF  DCF
3    ASR  75081.679537  130.467046  ...  Industrials      NaN  0.0

[1 rows x 22 columns]

In [150]:
COLUMNS = ['AVG(OPEN)','YEAR(DATE)','SECTOR']
average_price = merged_table1[COLUMNS]
AVE_OPEN_Price = pd.pivot_table(average_price, index=["YEAR(DATE)"], columns=["SECTOR"], values=["AVG(OPEN)"], aggfunc=np.mean)

In [154]:
columns = ['AVG(VOLUME)','YEAR(DATE)','SECTOR']
year_volume = merged_table1[columns]
Total_year_Volume =  pd.pivot_table(year_volume, index=["YEAR(DATE)"], columns=["SECTOR"], values=["AVG(VOLUME)"], aggfunc=np.sum)

In [156]:
Total_year_Volume.head(2)

               AVG(VOLUME)           ...
SECTOR     Basic Materials Building  ...    Technology      Utilities
YEAR(DATE)                           ...
1970         160428.395062      NaN  ...  3.862302e+06  177056.790123
1971         193510.671937      NaN  ...  3.196818e+06  183862.845850

[2 rows x 18 columns]